<ion-content>
<div class="header">
  <ion-avatar slot="start" style="    position: absolute;
  left: 1rem;
  top: 1rem;">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <div class="contenedorMenu">

    <div class="contenedorMenuItem">
        <p style="color: white;">Carbohidratos</p>
        <ng-container >
          <p style="color: white;">asdasd</p>
        </ng-container>
    </div>
   
      <div class="contenedorMenuItem">
          <p style="color: white;">Grasa</p>
          <ng-container >
            <p style="color: white;">kjljkkllk</p>
          </ng-container>
      </div>
     
        <div class="contenedorMenuItem">
            <p style="color: white;">Proteína</p>
            <ng-container >
              <p style="color: white;">asdasd</p>
            </ng-container>
        </div>
      </div>
</div>
</ion-content>
